<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar') -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('<%= blogpost.image %>')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1><%= blogpost.title %></h1>
              <h2 class="subheading"><%- blogpost.body %></h2>
              <span class="meta">
                Posted by
                <a href="#"><%= blogpost.userid.username %></a>
                on <%= blogpost.datePosted.toDateString() %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7"><%- blogpost.body %></div>
        </div>
      </div>
    </article>
    <hr class="my-4" />
    <!-- Pager-->
    <div class="mb-4 d-flex justify-content-end btn-container">
      <a
        class="btn btn-primary my-btn text-uppercase"
        href="/posts/<%= blogpost.id %>/edit"
        >Edit</a
      >
      <form method="POST" action="/posts/<%= blogpost.id %>/delete">
        <button type="submit" class="btn btn-primary my-btn text-uppercase">
          Delete
        </button>
      </form>
    </div>
    <!-- Footer-->
    <%- include('layouts/footer') -%>
    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts') -%>
  </body>
</html>
